<!DOCTYPE html>
<html>

<!-- setContent함수로 content라는 파라미터 받기 -->
<th:block th:fragment="setContent(content)">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<style type="text/css">
	
		.header {
			height: 20vh;
			background-color: red;
		}
		.content {
			height: 30vh;
			background-color: lightgray;
		}
		.footer {
			height: 10vh;
			background-color: green;
		}
		
	</style>

</head>
<body>


	<div class="header">
		<h1>HEADER</h1>
	</div>
	
	<div class="content">
	
		<!-- 파라미터로 전달받은 값 출력 -->
		<th:block th:replace="${content}"></th:block>
		
	</div>
	
	<div class="footer">
		<h1>FOOTER</h1>
	</div>


</body>

<!-- setContent함수로 content라는 파라미터 받기 -->
</th:block>

</html>