<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<h1>반복문</h1>
	
	<!-- th:each : 타임리프의 반목문 -->
	<!-- 리스트의 요소를 하나씩 꺼내서 변수(dto)에 저장 -->
	<!-- 리스트의 크기만큼 li태그가 반복적으로 생성됨 -->
	<ul>
		<li th:each="dto : ${list}">
			[[ ${dto} ]]
		</li>
	</ul>
	
	
	<h1>반복문의 상태</h1>
	
	<!-- 
		반복문의 두번째 파라미터를 사용하여 상태 객체를 생성할 수 있음
		상태 객체를 사용하여 반목문의 상태를 확인할 수 있음
		current: 현재 객체
	 -->
	<ul>
		<li th:each=" dto, status : ${list} ">
			[[ ${status} ]]
		</li>
	</ul>

</body>
</html>